entrypoint = "main.py"

[interpreter]
mode = "python3"

[deployment]
deploymentTarget = "cloudrun"
run = ["python3", "main.py"]

[nix]
channel = "stable-24_05"

[env]
REPLIT_KEEP_PACKAGE_DEV_DEPENDENCIES = "1"
REPLIT_DISABLE_PACKAGE_LAYER = "1"
